#projectMainContent {

    .MuiGrid-root {
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;


    }

    .MuiGrid-item {

        .MuiTypography-h5, p {
            color: var(--color-secondary);
        }

        p {
            text-align: justify;
        }

        &:hover {

            .MuiTypography-h5 {
                color: var(--color-hover);
                transition: 0.8s;
            }

            img {
                -webkit-filter: unset; 
                filter: unset;
                transition: 0.8s;
            }
        }

        .MuiPaper-root {
            background-color: var(--color-paper);
        }

        img {
            -webkit-filter: grayscale(100%); 
            filter: grayscale(100%);
            transition: 0.8s;
        }
    }
}