$light-primary1: #fffffe;
$light-secondary1: #020826;
$light-secondary2: #44b700;
$light-secondary3: #5eff00;
$light-blend: #44b700;

$dark-primary1: #1d1d1d;
$dark-primary2: #0a0a0a;
$dark-secondary1: #c1c1c1;
$dark-secondary2: #00d5e4;
$dark-secondary3: #00eeff;
$dark-blend: #c1c1c1;